<h1>All pitchers</h1>
<%= render 'search_form' %>
<%= will_paginate  %>
<table class="pitchers">
  <thead>
    <tr>
      <td>ID</td>
      <td>Name</td>
      <td>Throws</td>
      <td>Career report</td>
      <td>Link to Games</td>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "pitcher", :collection => @pitchers %>
  </tbody>
</table>

<%= will_paginate %>
<% if params['search'] %>
<%= link_to 'Back to index', pitchers_path %>
<% end %>