<h1>All pitchers</h1>
<%= render 'search_form' %>
<%= will_paginate  %>
<table class="pitchers">
  <tr>
  <thead>
  <td>ID</td>
  <td>Name</td>
  <td>Career report</td>
  <td>Link to Games</td>
  </thead>
  </tr>
  <%= render :partial => "pitcher", :collection => @pitchers %>
</table>

<%= will_paginate %>
<% if params['search'] %>
<%= link_to 'Back to index', pitchers_path %>
<% end %>