<h1><%= "#{@pitcher.pitcher_id} - #{@pitcher.first_name} #{@pitcher.last_name}" %> performance in game <%=@game.game_id %></h1>
<script>
   $(function() {
$( "#tabs" ).tabs();
});
</script>

<div id="tabs">
<ul>
<li><a href="#tabs-1">Pitch choice</a></li>
<li><a href="#tabs-2">Velocity chart</a></li>
<li><a href="#tabs-3">Pitch Statistics</a>
</ul>
<div id="tabs-1">
  <%=  render 'pitch_breakdown' %>
</div>
<div id="tabs-2">
<%=  render 'velocity_chart' %>
</div>
<div id="tabs-3">
  <table>
  <thead>
  <td>Pitch Type</td>
  <td>Avg. Velocity</td>
  <td>Max Velocity</td>
  <td>Horizontal break</td>
  <td>Count</td>
  <td>Strikes (pct)</td>
  <td>Swings (pct)</td>
  <td>Whiffs (pct)</td>
  <td>In play, no out</td>
  </thead>
  <%= render :partial => 'pitch_statistics', :collection => @pitch_rollup, :as => :line %>
</table>
</div> 

     

</div>

<%= link_to "Back to pitchers", pitchers_path %>