<h1><%= "#{@pitcher.pitcher_id} - #{@pitcher.first_name} #{@pitcher.last_name}" %> performance in game <%=@game.game_id %></h1>
<script>
   $(function() {
$( "#tabs" ).tabs();
});
</script>

<div id="tabs">
<ul>
<li><a href="#tabs-1">Pitch choice</a></li>
<li><a href="#tabs-2">Velocity chart</a></li>
<li><a href="#tabs-3">Pitch Statistics</a>
</ul>
<div id="tabs-1">
  <%=  render 'pitch_breakdown' %>
</div>
<div id="tabs-2">
<%=  render 'velocity_chart' %>
</div>
<div id="tabs-3">
  <table id="rollup_report" class="rollup_report">
  <thead>
    <tr>
    <th>Pitch Type</th>
    <th>Avg. Velocity</th>
    <th>Max Velocity</th>
    <th>Horizontal break</th>
    <th>Count</th>
    <th>Strikes (pct)</th>
    <th>Swings (pct)</th>
    <th>Whiffs (pct)</th>
    <th>In play, no out</th>
  </thead>
  <tbody>
    <%= render :partial => 'pitch_statistics', :collection => @pitch_rollup, :as => :line %>
  </tbody>
</table>
</div> 

     

</div>

<%= link_to "Back to pitchers", pitchers_path %>